@import url(http://fonts.googleapis.com/css?family=Spinnaker);
@import url(http://fonts.googleapis.com/css?family=Balthazar);
@import url(http://fonts.googleapis.com/css?family=Dorsa);

html {
  background: url("../images/bg2.jpg");
  min-width: 965px;
}

body {
  font-family: 'Balthazar', serif;
}

body.noscroll{
    position:fixed;
    overflow:hidden;
}

h1, h4, h5 {
  min-width: 100%;
  background-color: rgba(0, 0, 0, 0.30);
}

h1 {
  font-size: 80px;
  font-family: 'Dorsa', sans-serif;
  letter-spacing: 3px;
  text-align: left;
  padding-left: 5px;
  color: white;
}

.cap {
  color: red;
}

h5 {
  color: white;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-bottom: 5px;
  font-size: 20px;
}

h4 {
  font-size: 30px;
  border: 1px solid white;
  text-align: center;
  color: lightgrey;
}

#technology {
  min-height: 550px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: rgba(150, 150, 150, 0.70);
  padding: 5px;
}

ol {
  margin: 20px 0px 0px 30px;
  font-weight: bold;
}

li {
  font-size: 30px;
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
  padding: 2px;
}

nav {
  float: left;
  margin-top: 15px;
}

#selected {
  background: red;
}

nav li {
  display: inline;
  font-size: 20px;
}

.navlink {
  color: white;
  text-decoration: none;
  padding: 4px;
}

.navlink:hover {
  background: red;
  color: white;
}

a:hover {
  color: red;
}

#banner {
  border-bottom: 1px solid red;
  min-width: 100%;
  margin-top: 50px;
}

.contact {
  margin-top: 50px;
  margin-left: 0px;
  min-height: 670px;
}

#project1, #project2 {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: rgba(150, 150, 150, 0.70);
}

#project1 {
  min-height: 560px;
}

#project2 {
  min-height: 700px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  margin-top: 30px;
  padding: 10px;
  color: lightgrey;
}

.about {
  padding-left: 10px;
  background-color: rgba(150, 150, 150, 0.70);
  padding: 10px;
}

.grid_12 {
  margin-top: 10px;
  font-size: 24px;
  padding: 10px;
  min-height: 690px;
}

.pic {
  max-width: 225px;
  height: auto;
  border: 5px solid lightgrey;
  margin-top: 125px;
  margin-left: 100px;
}

#simple {
  margin-top: 25px;
  margin-left: 20px;
}

#super {
  margin-top: 25px;
  margin-left: 40px;
  position: relative;
  bottom: 210px;
  left: 160px;
}

#superbank {
  position: relative;
  bottom: 410px;
  left: 315px;
  margin-top: 25px;
  margin-left: 60px;
}

#simple, #super, #superbank {
  width: 150px;
  height: 150px;
  border: 1px solid lightgrey;
}

#simple:hover, #super:hover, #superbank:hover {
  opacity: .75;
}

#simplecode {
  margin-left: 18px;
  margin-top: 10px;
}

#supercode {
  position: relative;
  bottom: 200px;
  left: 205px;
}

#superbankcode {
  position: relative;
  bottom: 400px;
  left: 375px;
}

#simplecode, #supercode, #superbankcode {
  font-size: 20px;
  font-weight: bold;
  max-width: 155px;
  padding: 1px;
}

#simplecode:hover, #supercode:hover {
  color: red;
}

.projectimgs:hover {
  background: none;
}

.grid_1 {
  height: 100%;
  width: 200px;
  background: yellow;
}
