@import url(http://fonts.googleapis.com/css?family=Spinnaker);
@import url(http://fonts.googleapis.com/css?family=Balthazar);

html {
  background-image: url("../images/bg.jpg")
}

body {
  font-family: 'Balthazar', serif;
}

h1 {
  color: white;
  background-color: black;
  opacity: 0.5;
  font-size: 60px;
  font-family: 'Spinnaker', sans-serif;
}

h4 {
  font-size: 30px;
  color: white;
  border: 3px solid grey;
  padding: 5px;
  background-color: black;
  opacity: 0.5;
  border-radius: 10px;
}

li {
  font-size: 20px;
}
